
@font-face {
    font-family:"regular" ;
    src: url(font/opensans-regular.woff2);
}

@font-face {
    font-family: "yag";
    src: url(font/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}
@font-face {
    font-family:"pro" ;
    src: url(/font/source-sans-pro-v14-latin-regular.woff2);
}


body {
    margin: 0;
    height: 100vh;
    
}
.header{
    display: flex;
    height: 56px;
    padding: 7px 16px;
    align-items: center;
    justify-content: space-between;
}
.whole_header{
    display: flex;
    align-items: center;
}

.header_second{
    display: flex;
    align-items: center;
}

.coursera_img{
    width: 108px;
    height: 16px;
    align-items: center;
}

.hamburger {
   padding: 8px;
}

.search_icon{
    padding: 12px;
}

button.join{
    display: flex;
    align-items: center;
    appearance: button;
    background-color: rgb(0, 86, 210);
    border-color:  rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0, 86, 210) 0px 0px 0px 1px inset;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    letter-spacing: 0.14px;
    font-family: "regular";
    margin-left: 12px;
}