/* -----------------------font------------------- */

@font-face {
  font-family: "regular";
  src: url(font/opensans-regular.woff2);
}

@font-face {
  font-family: "yag";
  src: url(font/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}
@font-face {
  font-family: "pro";
  src: url(/font/source-sans-pro-v14-latin-regular.woff2);
}

@font-face {
  font-family: "open";
  src: url(font/opensans-700.woff2);
}

@font-face {
  font-family: "project";
  src: url(font/source-sans-pro-v14-latin-600.woff2);
}

@font-face {
  font-family: "network";
  src: url(font/source-sans-pro-v14-latin-700.woff2);
}


/* -------------------body------------------ */


.aws.learn {
  display: none;
}

body,
h2,
p,
h3,
ul {
  margin: 0;
  padding: 0;
}

.header_there {
  position: sticky;
  display: flex;
  height: 56px;
  padding: 4px 16px;
  align-items: center;
  justify-content: space-between;
  background-attachment: fixed;
  top: 0;

  width: 100;
  border-bottom: solid;
  border-bottom-color: rgb(232, 238, 247);
  border-bottom-width: 1px;
}

.whole_header {
  display: flex;
  align-items: center;
}
.whole_header button {
  background-color: #fff;
  border: 2px solid transparent;
}

.header_second {
  display: flex;
  align-items: center;
}

.coursera_img {
  width: 108px;
  align-items: center;
  padding: 25px;
}

.hamburger {
  padding: 8px;
  height: 32px;
}

.search_icon {
  padding: 12px;
}

button.join {
  display: flex;
  align-items: center;
  appearance: button;
  background-color: rgb(0, 86, 210);
  border-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(0, 86, 210) 0px 0px 0px 1px inset;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 12px;
  letter-spacing: 0.14px;
  font-family: "regular";
  margin-left: 12px;
}

.search_bar {
  display: flex;
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 100%;
  align-items: center;
}

.button_search {
  display: flex;
  align-items: center;
  background-color: rgb(0, 65, 158);
  border: 1px solid rgb(99, 99, 99);
  border-image-width: 1px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  padding: 10px;
  position: absolute;
  text-align: left;
}
.search_button {
  padding: 0px 10px 0px 10px;
  width: 100%;
  border: 1px solid black;
}
.search_button input {
  appearance: auto;
  background-attachment: scroll;
  background-color: rgb(255, 255, 255);
  background-size: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: text;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 38px;
  line-height: 20px;
  width: 100%;
  padding: 0px 10px 0px 36px;
  border: none;
}
.whole_browse{
  background-color: rgb(218, 225, 237);
}

.browse {
  width: 100vw;
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  display: block;
  line-height: 24px;
  padding: 14px 20px 4px 20px;
  margin: -4px;
  font-family: "pro";
}

.browse_arrow {
  margin-top: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.a_browse a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.free_courses {
  width: calc(100% + 8px);
}

.free_courses h2 {
  padding: 0px 8px 8px 0px;
  box-sizing: border-box;
  color: black;
  display: block;
  flex-basis: 100%;
  line-height: 28px;
  max-width: 100%;
  font-size: 20px;
  font-family: "project";
  letter-spacing: -0.1px;
}
.free_courses p {
  padding: 8px 0px;
  font-family: "pro";
  font-weight: 400;
  line-height: 24px;
  max-width: 100%;
  font-size: 16px;
  color: rgb(15, 17, 20);
}

.left_arrow {
  display: flex;
  align-items: center;
  margin: 0px 16px 0px 0px;
}------------------------------------------------------

.course_div {
  display: block;
  font-size: 16px;
  padding: 36px 16px;
  padding-bottom: 0px;
  margin-bottom: 16px;
}

.courses {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.course_cataloge h2 {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.06px;
  line-height: 32px;
  margin-bottom: 32px;
  font-family: "project";
}

.whole_filter {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  appearance: button;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 86, 210);
  border: 0.5px solid rgb(0, 86, 210);
  border-radius: 4px;
  color: rgb(0, 86, 210);
  font-size: 14px;
  gap: 8px;
  font-weight: 500;
  font-family: "project";
  letter-spacing: 0.14px;
}

.business_img img {
  height: 24px;
  border: 1px solid rgb(232, 238, 247);
  border-radius: 4px;
  padding: 2px;
}

.business_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.business_img {
  display: flex;
  align-items: center;
  gap: 4px;
}

.course_business img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.project {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.net {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  width: 75%;
}

.whole_double_free {
  display: flex;
  justify-content: space-between;
}

.english_whole ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.english_whole li {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.common {
  padding: 0px 0px 24px 0px;
}
.common_hover{
  transform: scale(1.03);
  box-shadow: 0 0 40px -8px rgb(0 0 0 / 16%),0 0 24px -16px rgb(0 0 0 / 16%);
}
.process {
  padding: 8px;
  border: 2px solid rgb(232, 238, 247);
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.workplace {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.free_button {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: "project";
  border: 1px solid rgb(132, 149, 176);
  padding: 0px 8px;
  width: max-content;
}

.business_img p {
  box-sizing: border-box;
  color: rgb(91, 103, 128);
  font-size: 14px;
  font-family: "pro";
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 80%; */
  max-width: 100%;
}

.analysis h3 {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  cursor: pointer;
  font-family: "project";
  font-size: 16px;
  font-size-adjust: none;
  font-style: normal;
  letter-spacing: -0.048px;
  line-height: 20px;
}

.product_card {
  display: flex;
  align-items: center;
  font-family: "pro";
  gap: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  row-gap: 4px;
}

.skill_gain {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-family: "project";
  font-size: 14px;
}

.skill {
  box-sizing: border-box;
  color: rgb(91, 103, 128);
  font-family: "pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.star_two {
  display: flex;
  gap: 4px;
  font-size: 14px;
  align-items: center;
  height: 20px;
}

.star {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.star_rating {
  display: flex;
  gap: 4px;
  align-items: center;
}

.rating {
  font-weight: 600;
  letter-spacing: 0.048px;
  font-family: "project";
  font-size: 16px;
}

.star_two svg {
  width: 20px;
  height: 20px;
}

.reviews {
  color: rgb(91, 103, 128);
}

.begineer {
  font-size: 14px;
  color: rgb(91, 103, 128);
  display: flex;
  align-items: center;
  line-height: 20px;
}

.search h2 {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.1px;
  padding: 24px 0px 25px 0px;
  font-family: "project";
}

.free_learn {
  display: flex;
  flex-direction: column;
}

.excel {
  display: flex;
  flex-direction: column;
  margin: -6px;
}
.excel_a {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 6px;
  text-decoration: none;
  color: rgb(0, 86, 210);
  font-family: "project";
  letter-spacing: -0.048px;
}

.excel_a a {
  color: rgb(0, 86, 210);
  font-family: "project";
  letter-spacing: -0.048px;
  font-size: 16px;
}

.numbers {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  display: flex;
  flex-direction: row;
  margin: 48px 0px;
  justify-content: center;
}

.count {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  align-items: center;
  display: flex;
  line-height: 24px;
  font-size: 16px;
}

.count a {
  display: flex;
  height: 36px;
  width: 36px;
  text-decoration: underline;
  font-weight: 700;
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  border-color: rgb(0, 86, 210);
  padding: 10px;
  margin-inline: 6px;
  color: rgb(0, 86, 210);
}
.ellipises {
  color: #a7b4c9;
}

.button_one {
  border: none;
  justify-content: center;
  appearance: button;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  padding-top: 2px;
  background-color: rgb(232, 238, 247);
  border-color: rgb(232, 238, 247);
  height: 48px;
  width: 36px;
  margin: 0 2px;
}

.button_two {
  border: none;
  justify-content: center;
  appearance: button;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  background-color: rgb(0, 86, 210);
  border-color: rgb(0, 86, 210);
  color: #fff;
  height: 48px;
  width: 36px;
  margin: 0 2px;
}
.summary {
  /* margin-bottom: 48px; */
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  max-width: 1110px;
  padding-inline: 30px;
  padding-bottom: 36px;
  margin: 48px 0px;
}

.popular h2 {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-family: "project";
  font-size: 20px;
  margin-bottom: 24px;
  /* margin-top: 48px; */
  line-height: 28px;
  letter-spacing: -0.1px;
}

.english {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
}

.list li {
  list-style-type: none;
  margin-bottom: 12px;
}
.list a {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(0, 86, 210);
  cursor: pointer;
  font-family: "pro";
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  text-decoration-color: rgb(0, 86, 210);
  text-decoration-line: underline;
}

.list span {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-family: "pro";
  font-size: 16px;
  line-height: 24px;
}

.questions {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  display: flex;
  flex-wrap: wrap;
  margin: 0px 18.75px;
  max-width: 90%;
}

.free_questions {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 61px;
  padding: 8px;
  margin-inline: -4px;
}

.online_courses {
  padding-bottom: 75px;
  margin-top: 45px;
}

.online_courses h2 {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  font-family: "yag";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.button_faq {
  box-sizing: border-box;
  color: color rgb(55, 58, 60);
  padding-inline: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.there {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  margin-bottom: 10px;
  height: 85px;
  align-items: center;
  display: flex;
}

.faq {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  padding: 12px;
  margin-bottom: 10px;
  /* height: 85px; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}

.faq h3 {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  cursor: pointer;
  font-family: "regular";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 8px;
}

.subject_p {
  box-sizing: border-box;
  color: rgb(101, 101, 101);
  font-size: 16px;
  font-family: "regular";
  line-height: 22px;
  margin-bottom: 20px;
}

.faq.show .arrow_ {
  transform: rotate(0deg);

}

.subject_p a {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: "regular";
  line-height: 22px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(0, 98, 228);
  color: rgb(0, 98, 228);
}

.variety {
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 24px;
}
.faq.show .variety {
  display: none;
}

.arrow_ {
  box-sizing: border-box;
  color: rgb(54, 59, 66);
  fill: rgb(42, 115, 204);
  font-size: 16px;
  height: 24px;
  width: 24px;
  transform: rotate(90deg);
}

.content_course {
  box-sizing: border-box;
  color: rgb(99, 99, 99);
  font-size: 16px;
  font-family: "regular";
  line-height: 24px;
}

.topics {
  box-sizing: border-box;
  line-height: 24px;
  margin-bottom: 75px;
}

.topics h2 {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: "project";
}
.others {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.arts {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  box-sizing: border-box;
  display: flex;
  color: rgb(31, 31, 31);
  flex-wrap: wrap;
  height: 88px;
  overflow: hidden;
  margin: 0px 8px 8px 0px;
  width: 140px;
}

.science {
  padding: 0px 10px;
}

.computer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "network";
  font-weight: 700;
}

.science span {
  box-sizing: border-box;
  color: rgb(99, 99, 99);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "pro";
}

.started {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  line-height: 24px;
  padding: 80px 16px 8px 16px;
}

.footer{
  background-color: rgb(245, 245, 245);
}

.aws {
  padding: 0px 20px;
  margin-bottom: 60px;
}

.ai p {
  box-sizing: border-box;
  color: rgb(15, 17, 20);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 28px;
  font-family: "project";
}

.ai ul {
  margin: 0px 18p 16px 0px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "pro";
  color: rgb(31, 31, 31);
}

.learn {
  padding-inline: 16px;
}

.anywhere {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  font-family: "project";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 28px;
}

.apple {
  display: flex;
}

.apple_img {
  margin: 0px 16px 0px 0px;
}

.play_img {
  margin: 0px 16px 0px 0px;
}

.certified img {
  margin-top: 25px;
  margin-inline: 34.5px;
}

.apps {
  margin-inline: 41.5px;
  padding: 16px 0px;
}

.type_apps img {
  margin-left: 20px;
}

.facebook ul {
  display: flex;
  justify-content: center;
}

.copy {
  box-sizing: border-box;
  color: rgb(55, 58, 60);
  font-size: 12px;
  line-height: 20px;
  font-family: "pro";
  display: flex;
  justify-content: center;
}

.img img {
  display: none;
}

.filter_by{
  display: none;
}

.header_individual{
  display: none;
}

.close{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 16px;
}
.close h2{
  color: rgb(15, 17, 20);
  letter-spacing: 0.1px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  font-family: "project";
}

.close_span{
  align-items: center;
  box-sizing: border-box;
  color: rgb(0, 86, 210);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.16px;
  line-height: 24px;
  text-align: center;
  width: 66.0938px;
  border: 1px solid transparent;
  background-color: #fff;
}

.grid_span{
  text-align: inherit;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    flex-grow: 1;
    z-index: 1;
    width: 337px;
    background-color: #fff;
    border: 1px solid transparent;
}

.label_group span{
  margin: 0;
  color: rgb(15, 17, 20);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.048px;
  line-height: 20px;
  font-family: "project";
}

.span_grid{
  display: flex;
}

span.span_grid{
  display: flex;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  letter-spacing: normal;
  color: rgb(91, 103, 128);
  margin-top: 4px;
  flex-direction: row;
  align-items: flex-start;
  flex-shrink: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "pro";
}

.grid_span_a{
    flex-shrink: 0;
    color: inherit;
    padding: 0px;
    margin: 2px 12px 0px 0px;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
}

.information_tech{
  position: relative;
    margin: 0px;
    padding: 2px;
}
button.apply{
  align-items: center;
  appearance: button;
  background-color: rgb(0, 86, 210);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  border-top-width: (0, 86, 210) 0px 0px;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
}

button.clear_all{
  align-items: center;
  appearance: button;
  background-color: rgb(255, 255, 255); 
  border: 1px solid  rgb(0, 86, 210);
  border-radius: 4px;
  border-top-width: (0, 86, 210) 0px 0px;
  color: rgb(0, 86, 210);
  outline-color: rgb(0, 86, 210);
  padding: 12px 32px;
}

.apply_clear{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background-color: white;
    border-top: 1px solid rgb(235, 236, 237);
    padding: 12px 0px;
    display: flex;
    justify-content: space-evenly;
}

.filter_two{
  display: none;
}

.filter_button{
  margin-bottom: 40px;
}

.filter_two_active{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  z-index: 4000;
  display: initial;
}

.arrows_whole_browse{
  display: none;
}


@media screen and (min-width: 600px) {
  .learn {
    display: none;
  }
  .free_button {
    display: none;
  }
  .aws.learn {
    display: block;
  }
  .arts {
    width: 200px;
    max-height: 74px;
    flex-direction: column;
  }
  .science {
    width: 115px;
    padding: 10px;
  }
  .img img {
    display: inline;
  }
  .workplace {
    height: 100%;
  }
  .project {
    flex-direction: column-reverse;
    height: 100%;
  }
  .net {
    width: 100%;
    justify-content: space-between;
    flex: 1 1 0%;
    gap: 16px;
  }
  .product_card {
    align-items: end;
  }
  .common {
    height: 100%;
  }
  .process {
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 200px;
    height: 100%;
  }
  .english_whole ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .english_whole li {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 24px;
  }
  .common {
    padding: 0 6px 24px;
  }
  .course_business {
    position: relative;
  }
  .free_button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .course_business {
    margin-bottom: 8px;
    aspect-ratio: 16/9;
    overflow: hidden;
    width: 100%;
  }
  .course_business img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .excel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
  }
  .excel_a {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
  .questions {
    margin: 0px 30px;
  }
  .started {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 6px 8px 6px;
  }
  .aws ul {
    margin-right: 20px;
  }
  .footer_whole {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .aws {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .aws li {
    line-height: 20px;
    margin-bottom: 7px;
  }
  .aws.learn {
    padding: 0;
  }
  .aws.learn .apple {
    display: flex;
    flex-direction: column;
  }
  .type_apps {
    padding: 16px 0;
  }
  .filter_by{
    display: none;
  }
  .header_individual{
    display: none;
  }
  .arrows_whole_browse{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .search_icon {
    width: 24px;
    height: 24px;
  }
  .apps {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 44px 8px;
    border-top: 1px solid rgb(189, 189, 189);
  }
  .search_bar {
    padding: 0;
  }
  .browse {
    padding: 32px 12px 16px 12px;
  }
  .free_courses p {
    padding: 8px;
  }
  .free_courses h2 {
    padding: 8px;
  }
  .browse_arrow {
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0 8px;
  }
  .net{
    gap: 4px;
    padding: 8px;
  }

  .filter_by{
    display: none;
  }
  .header_individual{
    display: none;
  }


  .arrows_whole_browse{
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  
  .arrows_whole_browse{
    display: none;
  }

  .header_there{
    padding: 4px 48px 4px 48px;
  }

  .search_items{
    display: none;
  }
  .browse{
    padding: 32px 48px 16px 44px;
    margin-top: 0;
  }
  .browse_arrow{
    margin-top: 0;
  }
  .course_cataloge{
    margin-top: 4px;
  }
  .explore_free_course{
    padding: 8px 7px;
  }

  .course_div{
    padding: 36px 48px;
  }

  .filter_by{
    padding: 7px 8px 8px 8px;
    box-sizing: border-box;
    flex-basis: 25%;
    line-height: 24px;
    max-width: 25%;
  }

  .data_science{
    margin-top: 1px;
  }

  .filter_by{
    display: block;
  
  }
  .subject h3{
    display: flex;
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin-bottom: 32px;
    font-family: "project";
  }
  .computer{
    display: flex;
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    display: block;
    font-family: "project";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.048px;
    line-height: 20px;
  }

  .computer_div{
    display: flex;
    margin-bottom: 5px;
  }

  .whole_business{
    display: grid;
    grid-template-columns: 223px;
    row-gap: 6px;
    margin-top: 4px;
    line-height: 24px;
  }
  
  .business{
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    column-gap: 32px;
    display: grid;
    grid-template-columns: 223px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 24px;
    row-gap: 4px;
  }

  .spanish{
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    font-size: 16px;
    line-height: 24px;
  }

  .label{
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    column-gap: 12px;
    display: flex;
    cursor: pointer;
    word-break: break-word;
    line-height: 20px;
  }
  
  .checkbox input{
    width: 24px;
    height: 24px;
    margin: 0;
  }
  .number{
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "pro";
  }

  .rating_number{
    box-sizing: border-box;
    color: rgb(91, 103, 128);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "pro";
    margin-left: 1px;

  }

  .tech{
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 223px;
  }

  .number_p{
    display: flex;
    box-sizing: border-box;
    color: rgb(91, 103, 128);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-top: -4px;
    font-family: "pro";
  }

  .course_div{
    display: flex;
  }

  .filter_button{
    display: none;
  }

  .english_whole li{
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .common{
    padding:0;
    padding-bottom: 24px;
  }
  .cataloge{
    margin-bottom: 0;
  }

  .course_cataloge h2{
    margin-bottom: 36px;
  }
  .english_whole ul {
    padding-left: 3px;
    margin-bottom: 44px;
  }

  .content_course{
    max-width: 747px;
  }

  .summary{
    padding-inline: 48px;
  }

  .questions{
    margin: 0px 48px;
  }
  .header_individual{
    display: none;
  }
   .filter_two {
    display: none;
  }

  ._a_browse a{
    margin-right: 16px;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    cursor: pointer;
    font-weight: 400;
    line-height: 24px;
  }

  .right_arrow svg{
    margin-right: 16px;
  }
  .footer{
    padding-inline: 48px;
  }
   
}

@media screen and (min-width:1025px) {
  .arrows_whole_browse{
    margin-bottom: 8px;
    padding: 0px 0px 0px 8px;
    display: flex;
  }

  .browse_arrow{
    display: none;
  }
}

@media screen and (min-width:1036px) {
  .common{
    padding: 20px 6px 20px 6px;
  }
  .header_individual{
    display: none;
  }
  .filter_two {
    display: none;
  }
  .browse_arrow{
    display: none;
  }

}
@media screen and (min-width:1061px) {
  .header_there{
    display: none;
  }


  .header_individual{
    display: inline;
  }

  .for_individual{
    box-sizing: border-box;
    background-color: rgb(15, 17, 20);
    color: rgb(55, 58, 60);
    height: 40px;
    line-height: 24px;
    position: relative;
  }

  .join_free{
    margin-left: auto;
    min-width: 250px;
    float: right;
  }

  .universities{
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline: 48px;
  }

  .banner ul{
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: flex;
    align-items: row;
  }

  .banner a{
    vertical-align: baseline;
    display: block;
    margin: 0 8px;
    padding: 0 8px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 600;
    height: 40px;
  }

  .banner li:first-child a{
    border-bottom: 6px solid #ffffff;
   
  }
  .span_two{
    box-sizing: border-box;
    color: rgb(232, 238, 247);
    font-size: 16px;
    font-weight: 400;
    font-family: pro;
  }

  .banner li:first-child a .span_one{
    color: #ffff;
    font-weight: 600;
    font-family: "project";

  }

  .span_one{
    box-sizing: border-box;
    color: rgb(232, 238, 247);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
  }
  .coursera_img_two{
    width: 127px;
    padding-right: 16px;
  }
  .container_login{
    display: flex; 
    padding:0px 58px 0px 48px; 
    align-items: center;
  }

  .explore_free{
    display: flex;
    box-sizing: border-box;
    line-height: 21px;
    align-items: center;
    min-width: 200px;
  }

  .explore{
    display: flex;
    align-items: center;
    margin-right: 6px;
    gap: 8px;
  }

  .explore-btn{
    display: flex;
    align-items: center;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 86, 210);
    justify-content: center;
    border-radius: 4px;
    line-height: 21px;
    padding: 6px 16px;
    color: rgb(0, 86, 210);
    gap: 8px;

  }

  .form{
    display: flex;
  }
 
  .careers ul{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 65px;
    padding: 20px 0;
  }

  .explore span{
    box-sizing: border-box;
    color: rgb(0, 86, 210);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 24px;
    font-family: "project";
  }

  .careers a:hover{
    color: rgb(0, 86, 210);
  }

  .log_in:hover{
    color: rgb(0, 86, 210);
    text-decoration: underline;
  }

  .form{
      width: 348px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(219, 224, 225);
      border-radius: 24px;
      color: rgb(99, 103, 107);
      font-size: 16px;
      line-height: 24px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      position: relative;
      max-width: 600px;
      color: rgb(219, 224, 225);
      width: 455px;
  }

  .form input{
    border: 1px solid transparent;
    width: 134px;
    line-height: 24px;
    font-size: 16px;
    color: rgb(99, 103, 107);
    font-family: "pro";
    padding: unset;
  }
  .search-btn{
    position: absolute;
    top: 3;
    right: 3px;
    height: 16px;
    width: 16px;
    padding: 8px;
    margin-right: 4px;
    background-color: rgb(0, 86, 210);
    border-radius: 24px;
    display: flex;
    align-items: center;
}
  .careers ul{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    line-height: 21px;
    padding: 20px 0px;
  }

  .careers a{
    box-sizing: border-box;
    color: rgb(91, 103, 128);
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    padding: 3px 10px;
  }

  a.log_in {
    color: rgb(0, 98, 228);
  }

  a.join_li{
    border: 1px solid rgb(0, 86, 210);
    padding: 10px 4px;
    color: rgb(0, 86, 210);
    min-width: 88px;
    height: 38px;
    font-weight: 700;
    font-family: "project";
    border-radius: 4px;
  }


  .topics{
    margin: 0px 26.938px 75px 26.938px;
  }
  .explore_free_course{
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .browse_arrow{
    display: none;
  }

  .computer_div{
    margin-bottom: 4px;
  }

  
  .earn_degree{
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(51, 51, 51);
  }

  .earn h2{
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin-bottom: 10px;
    font-family: "yag";
  }

  span.earn_a{
    background: none;
    border: none;
    display: block;
    color: rgb(31, 31, 31);
    padding: 5px 24px;
    text-align: left;
    position: relative;
    cursor: default;
    text-decoration: none;
  }

  .earn_span span{
    color:  rgb(31, 31, 31);
  }

  button.earn_span{
    background: none;
    border: none;
    display: block;
    width: 328px;
    color: rgb(31, 31, 31);
    padding: 5px 24px;
    text-align: left;
    position: relative;
    cursor: default;
    text-decoration: none;
    list-style-type: none;
    border: none;
  }

  .earn{
    box-sizing: border-box;
    color: rgb(15, 17, 20);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 28px;
    margin-bottom: 10px;
    padding: 24px 24px 5px 24px;
    font-family: "yag";
  }

  span.new_career{
    border-radius: 4px;
    text-transform: none;
    max-width: 320px;
    min-width: unset;
    transition: none;
    box-sizing: border-box;
    color: rgb(0, 86, 210);
    box-shadow: inset 0 0 0 1px #0056d2;
    padding: 8px 16px;
    letter-spacing: 0.14px;
    border: 1px solid rgb(0, 86, 210);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-width: 320px;
    position: relative;
    vertical-align: middle;
  }

  .new_career{
    padding: 15px 23px;
  }
  .goal_parent{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 105px;
    left: 0;
    z-index: 3000;
    width: 100vw;
    height: calc(100% - 65px);
  }

  .goals{
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: -12px;
    background-color: #fff;
    min-height: 575px;
    min-width: 280px;
    padding: 0px;
    left: 85.1094px;
    z-index: 30001;
  }

  
  .goal_active{
    visibility: visible;
    opacity: 1;
    height: auto;
    font-size: 14px;
    margin: 0px;
    position: absolute;
    max-width: 328px;
    padding: 0px 0px 128px;
    max-height: calc(-85px + 100vh);
    overflow: auto;
  }


  body:has(.goal_active) .goal_parent{
    display:block;
  }

  .course_cataloge h2{
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
  }

  .explore_free_course{
    padding: 4px 7px 8px 7px;
  }

}

@media screen and (min-width:1440px) {
  .questions{
    max-width: 1116px;
    margin: 0 auto;
  }
  .apps{
    margin-inline: 1px;
  }
  .footer_whole{
    max-width: 1440px;
    margin: 0 auto;
  }

  .apple_img{
    padding-bottom: 51.828px;
  }

  .play_img{
    padding-bottom: 51.828px;
  }
  .universities{
    max-width: 1440px;
    margin: 0 auto;
  }
  .container_login{
    max-width: 1440px;
    margin: 0 auto;
  }
  .browse{
    max-width: 1440px;
    margin: 0 auto;
  }

  .course_div {
    max-width: 1440px;
    margin: 0 auto;
  }

  .summary{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-inline: 148px;
  }
  .apps{
    max-width: 1440px;
    margin: 0 auto;
  }
  .filter_two {
    display: none;
  }

  /* .common{
    padding: 0px 6px;
  } */
  
  .course_cataloge h2{
    margin-top: 8px;
    margin-bottom: 16px;  
    margin-left: 8px;
  }

}
